.center-container {
  width: 100vw;
  height: 100vh;
  background-color: #7fffe5;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  gap: 1rem;
}
.main-header {
  font-size: 2rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
}
.countdown-text {
  font-family: 'Nunito', sans-serif;
  color: #F75940;
  font-size: 1.5rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .center-container {
    gap: 2rem;
  }
  .main-header {
    font-size: 4rem;
  }
  .countdown-text {
    font-size: 3rem;
  }
}
